body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#e5e7eb;
}


.container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}


.box{
    background:#f3f4f6;
    padding:40px;
    border-radius:12px;
    text-align:center;
    width:350px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}


.box h2{
    margin-bottom:20px;
}


label{
    display:block;
    margin-bottom:8px;
    font-size:16px;
}

input{
    width:100%;
    padding:12px;
    margin-bottom:20px;
    border-radius:6px;
    border:1px solid #ccc;
    font-size:14px;
}


button{
    width:100%;
    padding:12px;
    background:#4CAF50;
    color:white;
    border:none;
    border-radius:6px;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#45a049;
}

p{
    margin-top:10px;
    font-weight:500;
}