<<<<<<< HEAD
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-box {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  text-align: center;
}

h1 {
  margin-bottom: 25px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  outline: none;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: darkgreen;
}

.error {
  color: red;
  font-size: 13px;
  text-align: left;
}

.success {
  color: green;
  margin-top: 15px;
}

.users {
  margin-top: 20px;
  background: #eef8ee;
  padding: 15px;
  border-radius: 5px;
}

.users ul {
  text-align: left;
=======
.container {
  width: 300px;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.card {
  background: #f2f2f2;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 2px 2px 8px gray;
>>>>>>> 46b7580e5a034967459a9663024fd565ea302934
}