body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#e5e7eb;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}


.box{
    width:420px;
    padding:40px;
    border-radius:12px;
    background:#f3f4f6;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h1{
    margin-bottom:20px;
}


input{
    width:100%;
    padding:12px;
    margin-bottom:20px;
    border-radius:6px;
    border:1px solid #ccc;
}


.btn-group{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:10px;
    margin-bottom:20px;
}


button{
    padding:10px 15px;
    border:none;
    border-radius:6px;
    background:#3b82f6;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#2563eb;
}


.reset{
    background:#333;
}

.reset:hover{
    background:#000;
}


#demo{
    font-size:18px;
}